<div>
  <div class="upper-background-color">
    <h1>Women Profile Setup</h1>
  </div>
  <div class="women-lower-div" >
    <div class="main main-raised signup-form"id="womenSetupPage-loverDiv">
      <form action="/profileSetupMen/{{user._id}}" class="form-center" method="post">   
          <input type="file" class="form-control inputFileHidden form-file-upload" name="photo"><br><br>
          <label for="shirt">Shirt Size</label>
          <select class="form-control selectpicker" name="shirt">
            <option  value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">Extra Large</option>

          </select><br> <br>

          <label for="pants">Pants Size</label>
          <select class="form-control selectpicker" name="pants">
            <option  value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">Extra Large</option>

          </select><br>

          <label for="shorts">Shorts Size</label>
          <select class="form-control selectpicker" name="shorts">
            <option  value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">Extra Large</option>

          </select><br>

          <label for="skirt">Skirt Size</label>
          <select class="form-control selectpicker" name="skirt">
            <option  value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">Extra Large</option>

          </select><br>

          <label for="sweater">Sweater Size</label>
          <select class="form-control selectpicker" name="sweater">
            <option  value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">Extra Large</option>

          </select><br>

          <label for="shoes">Shoes Size</label>
          <select class="form-control selectpicker" name="shoes">
            <option  value="5">5</option>
            <option value="5.5">5.5</option>
            <option value="6">6</option>
            <option value="6.5">6.5</option>
            <option value="7">7</option>
            <option value="7.5">7.5</option>
            <option value="8">8</option>
            <option value="8.5">8.5</option>
            <option value="9">9</option>
            <option value="9.5">9.5</option>
            <option value="10">10</option>
            <option value="10.5">10.5</option>
            <option value="11">11</option>
            <option value="11.5">11.5</option>
            <option value="12">12</option>
            <option value="12.5">12.5</option>


          </select><br>

          <label for="bra">Bra Size</label>
          <input type="text" name="bra" id="bra" class="form-control selectpicker"><br>

          <label for="panties">Panties Size :) </label>
          <select class="form-control selectpicker" name="panties">
            <option  value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">Extra Large</option>

          </select><br>

          <label for="dress">Dress Size</label>
          <select class="form-control selectpicker" name="dress">
            <option  value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">Extra Large</option>

          </select><br>

          <label for="jumper">Jumper Size</label>
          <select class="form-control selectpicker" name="jumper">
            <option  value="xs">Extra Small</option>
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
            <option value="xl">Extra Large</option>

          </select><br>





        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>















{{!-- <h1>Women profile Setup</h1>
<form action="/profileSetupWomen/{{user._id}}" method="post" enctype="multipart/form-data">

<input type="file" accept="image/* " id="file-input">

<input type="file" name="photo"><br><br>

<label for="shirt">Shirt Size</label>
<select name="shirt">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="pants">Pants Size</label>
<select name="pants">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="shorts">Shorts Size</label>
<select name="shorts">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="skirt">Skirt Size</label>
<select name="skirt">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="sweater">Sweater Size</label>
<select name="sweater">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="shoes">Shoes Size</label>
<select name="shoes">
  <option  value="5">5</option>
  <option value="5.5">5.5</option>
  <option value="6">6</option>
  <option value="6.5">6.5</option>
  <option value="7">7</option>
  <option value="7.5">7.5</option>
  <option value="8">8</option>
  <option value="8.5">8.5</option>
  <option value="9">9</option>
  <option value="9.5">9.5</option>
  <option value="10">10</option>
  <option value="10.5">10.5</option>
  <option value="11">11</option>
  <option value="11.5">11.5</option>
  <option value="12">12</option>
  <option value="12.5">12.5</option>


</select><br>

<label for="bra">Bra Size</label>
<input type="text" name="bra" id="bra"><br>

<label for="panties">Panties Size :) </label>
<select name="panties">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="dress">Dress Size</label>
<select name="dress">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="jumper">Jumper Size</label>
<select name="jumper">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<button type='submit'>Done</button>

</form>


<a href="/">home</a> --}}
