



































{{!-- <h1>Men profile Setup</h1>
<form action="/profileSetupMen/{{user._id}}" method="post">

{{!-- <input type="file" accept="image/* " id="file-input"> --}}

<input type="file" name="photo"><br><br>

<label for="shirt">Shirt Size</label>
<select name="shirt">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="pants">Pants Size</label>
<select name="pants">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="shorts">Shorts Size</label>
<select name="shorts">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="skirt">Skirt Size</label>
<select name="skirt">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="sweater">Sweater Size</label>
<select name="sweater">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>

<label for="shoes">Shoes Size</label>
<select name="shoes">
  <option  value="5">5</option>
  <option value="5.5">5.5</option>
  <option value="6">6</option>
  <option value="6.5">6.5</option>
  <option value="7">7</option>
  <option value="7.5">7.5</option>
  <option value="8">8</option>
  <option value="8.5">8.5</option>
  <option value="9">9</option>
  <option value="9.5">9.5</option>
  <option value="10">10</option>
  <option value="10.5">10.5</option>
  <option value="11">11</option>
  <option value="11.5">11.5</option>
  <option value="12">12</option>
  <option value="12.5">12.5</option>


</select><br>

<label for="boxerBriefs">Boxer briefs Size</label>
<select name="boxerBriefs">
  <option  value="xs">Extra Small</option>
  <option value="s">Small</option>
  <option value="m">Medium</option>
  <option value="l">Large</option>
  <option value="xl">Extra Large</option>

</select><br>


<button type='submit'>Done</button>

</form>


<a href="/">home</a> --}}
