



<div class="page-header header-filter" data-parallax="true" style="background-image: url('images/couple-with-big-gift.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>Boon</h1>
          <h3 class="title text-center">Making the gift buying process enjoyable</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class=" row text-center">
      <div class="col-7">
        <h2>Gift Shopping without Boon</h2>
        <ul class="text-left problem-description">
          <li>- Go to a store</li>
          <li>- Realize you don't know the person's you are buying the gift for size</li>
          <li>- Call his or her mom</li>
          <li>- Call his or her best friend</li>
          <li>- Ask the cashier if you can change the gift if it doesn't fit the person</li>
          <li>- Risk it and go for one size</li>
          <li>- Cross your fingers and hope for the best</li>
        </ul>
      </div>
      <div class="col-5 product-description-div">
        <img class="product-description" src="images/looking-though.jpg">
      </div>
    </div>
  </div>
</div>


<div class="main main-raised description-div">
  <div class="container">
    <div class=" row text-center">
      
      <div class="col-6 product-description-div">
        <img class="product-description" src="images/happy-user1.jpg">
      </div>
      <div class="col-6">
        <h2>Gift Shopping with Boon</h2>
        <ul class="text-left problem-description2">
          <li>- Go to a store</li>
          <li>- Realize you don't know the person's you are buying the gift for size</li>
          <li>- Pull out your phone and look at the person's profile in your app</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron call-to-action-div">
  <div class="call-to-action text-center">
  <h1>Create an account for free to be a better gift giver</h1> 

<form action="/signup">
  <button type="submit" class="btn btn-primary btn-round">Get Started</button>
</form>
  </div>
</div>









<footer class="footer footer-default" >
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com/">
              Creative Tim
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.creative-tim.com/" target="blank">Creative Tim</a> for a better web.
    </div>
  </div>
</footer>

{{!-- <div>
  <h1>Very first page</h1>
{{#if user}}
<div>
  <h2>Hi {{user.username}}!</h2>

  <a href="/dashboard">Go to your dashboard</a>
  <br><br>
</div>
{{/if}}
<a href="/signup">signup</a>
<a href="/login">login</a>
<a href="/logout">logout</a>

<button class="btn btn-danger ">Default</button>
</div> --}}
