<h1>Very first page</h1>
{{#if user}}
<div>
  <h2>Hi {{user.username}}!</h2>
</div>
{{/if}}
<a href="/signup">signup</a>
<a href="/login">login</a>
<a href="/logout">logout</a>


 



















{{!-- <a href="/dashboard">go to dashboard</a>
<a href="/logout"> logout</a> --}}
